.header-navigation {
  display: flex;
  flex-direction: column-reverse;
  margin: 26px calc(32px - 10px) 0 calc(32px - 10px);
  font-size: 14px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: 49px 139px 0 135px;
    align-items: center;
  }

  &__link {
    color: $white;
    background-color: $purple;
    width: 211px;
    height: 56px;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 600;
    transition: 0.1s ease-in;

    &:hover {
      background-color: $purple-dark;
    }

    &:active {
      opacity: 0.5;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;

    @media (min-width: $desktop-width) {
      position: relative;
      column-gap: calc(63px - 20px);
      margin: 0;
      top: 8px;
      left: 8px;
    }
  }

  &__item-link {
    padding: 10px;
    border-radius: 32px;
    transition: 0.2s ease-in;

    &:hover {
      background-color: $purple-light;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
