.intro {
  position: relative;
  padding-bottom: 425px;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/Rectangle-1.png");
    width: 538px;
    height: 591px;
    background-size: cover;
    background-repeat: no-repeat;
    left: -154px;
    bottom: -60px;
    z-index: -1;
    animation: moveUpDown 6s ease-in-out infinite;

    @media (min-width: $desktop-width) {
      width: 520px;
      height: 446px;
      bottom: 10px;
    }

    @media (min-width: 1440px) {
      left: 50px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/Rectangle.png");
    width: 393px;
    height: 393px;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 12px;
    right: -140px;
    z-index: -1;
    animation: moveUpDown 8s ease-in-out infinite;

    @media (min-width: $desktop-width) {
      width: 445px;
      height: 445px;
      bottom: auto;
    }

    @media (min-width: 1440px) {
      right: 72px;
    }
  }

  &__title {
    font-family: "Montserrat";
    font-size: 40px;
    line-height: 44.5px;
    text-align: center;
    margin: 11px 28px 19px 28px;
    letter-spacing: -2px;
    color: $dark;

    @media (min-width: $desktop-width) {
      font-size: 60px;
      line-height: 63px;
      margin: 40px 28px 24px 28px;
    }
  }

  &__description {
    position: relative;
    line-height: 25.5px;
    font-size: 18px;
    color: $gray;
    font-weight: 400;
    text-align: center;
    margin: 0 17px;

    @media (min-width: $desktop-width) {
      padding: 0 280px;
    }

    &--first {

      &::after {
        content: "";
        position: absolute;
        background-image: url("../img/doodle-4 2.svg");
        width: 125px;
        height: 114px;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        left: 140px;
        bottom: -496px;
        animation: moveUpDown 11s ease-in-out infinite;

        @media (min-width: $desktop-width) {
          left: 338px;
          bottom: -17px;
        }
      }
    }
    &--second {
      font-style: italic;
      font-weight: 500;
      margin-bottom: 34px;
      text-align: center;

      @media (min-width: $desktop-width) {
        margin-bottom: 40px;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url("../img/у3 1.svg");
        width: 74px;
        height: 79px;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        left: 0;
        bottom: -168px;
        animation: moveUpDown 15s ease-in-out infinite;

        @media (min-width: $desktop-width) {
          left: auto;
          bottom: -65px;
          right: 366px;
        }
      }

      &::before {
        content: "";
        position: absolute;
        background-image: url("../img/doodle-5 2.svg");
        width: 99px;
        height: 99px;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        right: -22px;
        bottom: -154px;
        animation: moveUpDown 9s ease-in-out infinite;

        @media (min-width: $desktop-width) {
          right: auto;
          bottom: 220px;
          left: 212px;
        }
      }

      & span {
      font-style: normal;
      display: inline;
      }
    }
  }

  &__link {
    color: $white;
    background-color: $orange;
    width: 284px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 600;
    transition: 0.1s ease-in;

    &:hover {
      background-color: $orange-dark;
    }

    &:active {
      opacity: 0.5;
    }

    & span {
      font-weight: 700;
    }
  }
}

.svg-letter {
  display: inline-block;
  width: 43px;
  height: 36px;
  background-image: url("../img/letter.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  color: transparent;
  font-size: 1px;
  margin-right: -7px;
  margin-left: -7px;

  @media (min-width: $desktop-width) {
    width: 56px;
    height: 49px;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
