.contacts {
  padding: 50px 45px 41px 45px;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding: 74px 130px 0 130px;
  }

  &__description {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 45px;

    @media (min-width: $tablet-width) {
      margin-bottom: 51px;
      font-size: 40px;
    }

    @media (min-width: $desktop-width) {
      font-size: 50px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    list-style: none;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      & > *:last-child { // аааААааААААааАаААААААААААААААА.
        grid-column: 1 / -1;
      }
    }

    @media (min-width: $tablet-width-only) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      & > *:nth-child(2) {
        order: 3;
      }

      & > *:nth-child(3) {
        order: 2;
      }
    }
  }
}
