// Colors

$basic-black: #000000;
$basic-black30: rgba(0, 0, 0, 0.3);

$basic-white: #FFFFFF;
$basic-white10: rgba(255, 255, 255, 0.1);
$basic-white15: rgba(255, 255, 255, 0.15);
$basic-white30: rgba(255, 255, 255, 0.3);

$main-gray: #283645;
$main-gray10: rgba(40, 54, 69, 0.1);
$main-gray30: rgba(40, 54, 69, 0.3);
$main-gray50: rgba(40, 54, 69, 0.5);
$main-gray60: rgba(40, 54, 69, 0.6);

$pink: #D22856;
$pink30: rgba(210, 40, 86, 0.3);

$gray-light: #F2F2F2;
$gray-table-border: #E5E5E5;

$green: #2AAB6D;
$green-darker: #1C9B5E;

$shadow15: rgba(255, 255, 255, 0.15);
$shadow-form-error: rgba(0, 1, 1, 0.15);

//Viewports

$tablet-width: 660px;
$tablet-width-only: 1199px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
